{% extends "_base.html" %}
{% block title %}{{ cat_name }} Items{% endblock %}

{% block content %}
    <div class="columns is-mobile">
      <div class="column is-hidden-mobile is-2-tablet">
        <aside class="menu">
          <p class="menu-label">
            Categories
          </p>
          <ul class="menu-list">
            {% for cat in categories %}
            <li>
              <a {{ 'class="is-active"'|safe if cat.name == cat_name }} href="/catalog/{{ cat.name }}">
                {{ cat.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      <div class="column">
        <div class="level is-mobile">
          <div class="level-left">
            <h2 class="title is-2">
              {{ cat_name }} Items ({{ items|length }} items)
            </h2>
          </div>
          {% if session.loggedin %}
          <div class="level-ritht">
            <a class="level-item button is-primary" href="{{ url_for('item_new', cat_name=cat_name) }}">New</a>
          </div>
          {% endif %}
        </div>
        <div class="columns is-multiline">
          {% for item in items %}
          <div class="column is-12-tablet is-6-desktop">
            <hr>

            <article class="media">
              <div class="media-content">
                <a class="" href="/catalog/{{ item[1].name }}/{{ item[0].name }}">
                  <p class="title is-3">
                    {{ item[0].name }}
                  </p>
                  <p class="subtitle">
                    {{ item[0].desc|truncate(50) }}
                  </p>
                </div>
              </a>
              <div class="media-right">
                <p class="tag is-info">{{ item[1].name }}</p>
              </div>
            </article>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
