{% extends "_base.html" %}
{% block title %}{{ cat_name }} Items{% endblock %}

{% block content %}

<article class="media">
  <div class="media-content">
      <p class="title is-3">
        {{ item.name }}
      </p>
      <p>
        {{ item.desc }}
      </p>
    </div>
  <div class="media-right">
    <p class="tag is-info">{{ cat_name }}</p>
  </div>
</article>

<hr>

{% if session['user_id'] == item.user_id %}
<div class="level is-mobile">
  <span class="level-left">
    <a class="level-item button is-info" href="{{ url_for('item_edit', cat_name=cat_name, item_name=item.name) }}">Edit</a>
    <a class="level-item button is-danger" href="{{ url_for('item_remove', cat_name=cat_name, item_name=item.name) }}">Delete</a>
  </span>
</div>
{% endif %}

{% endblock %}
